# Copy this file to .env and fill in with appropriate values

# Token used to authenticate with expo servers for EAS builds
EXPO_TOKEN=XXXXXXXXXXXXXXXXX

# For sending slack messages.  SLACK_CHANNEL is the Channel ID
SLACK_CHANNEL=C08NGDXXXX
SLACK_TOKEN=xoxb-XXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX
